body {
    background-color:black;
}


#centro {
    text-align: center;
    font-size: 200px;
}

button {
    font-size: 25%;
}

.branco {
    color: white;
    text-align:center ;
    text-decoration:underline;
    font-size: 75px;;
}